.article-info{
    margin-bottom:40px
}
.mini-title{
    font-style:oblique;
}
.text-content{
   text-align:justify;
   font-weight: bold
}
.div-bar{
    width:100%;
    margin-right:10px;
}

.supertopic{
    font-size: 45px;
    
}

.article-info .title{
    margin-bottom: 40px;
}


.page-content{
    margin-left:10px;
    margin-right:10px
}
.imagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.topic{
font-size:30px;
font-weight: bold;
margin:10px 0;    
}
.CTA{
    position: relative;
    left:0;
    margin:0
}
.subtopic{
    font-size:20px;
    font-weight: bold;
    margin:10px 0;    
    }

    @media(max-width:600px){
        .title,.subtitle,.topic,.subtopic,.supertopic{
            text-align: center;
        }
    }
