@import '../global.scss';

.banner-container {
    -webkit-font-smoothing: antialiased !important;
    position: relative;
    text-align: center;
    
   
    .centered {
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .banner-title{
            padding-top:50px;
            font-size: 50px;
            font-weight: bolder;
            color:white;
            font-family: 'Roboto', sans-serif;
            
        }
        .banner-subtitle{
            color:white;
            font-size: 45px;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }
        color:white;
        font-family: 'Roboto', sans-serif;
    }
}
