@import '../global.scss';
.notification-area{
    position: fixed !important;
    width: 100%;
    z-index: 1 !important;
    margin-top: 90vh;
    z-index: 999999 !important;
    #banner{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $default-yellow;
    }
}