@import '../global.scss';

.hero-section {
    position: relative;
    text-align: center;
    background-color: $primary;
    width: 100%;
    height: 30%;
    //border-bottom-left-radius: 20%;
    //border-bottom-right-radius: 20%;
  
    .centered {
        margin: 10em;
        position: relative;
    }
}
