@import '../global.scss';
@media screen and (min-width: 769px) {
    .hero-body {
        padding-top: 18em;
    }
} 
#hero{
    padding-top: 4em;
    background-image: url('../assets/BannerHome.png');
    background-origin: initial;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    #text{
        color: white;
        text-transform: uppercase;
    }
    #textP{
        color: white;
        text-transform: none;
    }
}
.hero-section {
    -webkit-font-smoothing: antialiased !important;
    position: relative;
    text-align: center;
    background-color: transparent;
    width: 100%;
    height: 80%;
    
    //border-bottom-left-radius: 20%;
    //border-bottom-right-radius: 20%;
    img{
    }
    .centered {
        color:white;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        .home-title{
            
            font-size: 50px;
            font-weight: bolder;
            color:white;
            font-family: 'Roboto', sans-serif;
            
        }
        .home-subtitle{
            color:white;
            font-size: 45px;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }
        color:white;
        font-family: 'Roboto', sans-serif;
    }
    p{
        padding-bottom: 2em;
    }
}
