@import '../global.scss';
@import url('https://fonts.google.com/specimen/Roboto?selection.family=Roboto');
.feed{
    width: 100%;
    display: flex;
    font-weight: bold;
}
.card{
    position: relative;
    margin: 2em;
    box-sizing: border-box;
    background-color: $default-green;
    background-size: cover;
    height: 15em;
    width: 20em;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: flex-end;
    .category{
        margin: 1em;
        color: white;
        text-transform: uppercase;
        text-decoration: underline;
        z-index: 2;
    }
    .card-title{
        @extend .category;
        text-decoration: none;
        z-index: 2;
        font-weight: bold;
    }
    img{
        position: absolute;
        height: 100%;
        width: 100%;
    }
}