@import '../global.scss';
@import url('https://fonts.google.com/specimen/Roboto?selection.family=Roboto');
.feed{
    width: 100%;
    display: flex;
    //font-weight: bold;
}
.cardPost{
    position: relative;
    margin: 2em;
    box-sizing: border-box;
    background-color: $default-green;
    background-size: cover;
    height: 15em;
    width: 20em;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: flex-end;
    .postLegend{
        padding: 2em;
        z-index: 2;
        #textTitle{
            text-align: left;
            color: white;
            text-transform: uppercase;
            text-decoration: none;
        }
        #textSubtitle{
            @extend #textTitle;
            margin-top: .2em;
            font-weight: bold;
        }
    }
    img{
        position: absolute;
        height: 100%;
        width: 100%;
    }
}