.leadCapture{
    margin: 1em;
}
.promise{
    font-size:1em;    
    left:50%
}
.form-fieldset{
    left:50%
}
.le-boton{
    background-color: seagreen;
    border: 0px;
    font-weight: bold;
    left:50%;

}