@import '../global.scss';

.menu{
    z-index: 4 !important;
    position:fixed;
    width: 100%;
    background-color: $default-black !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .menu-item{
        background-color: $default-black !important;
        color: white !important;
        &:hover{
            background-color: transparent;
            color: $default-yellow !important;
        }
       
    }
}

@media (max-width:600px){
    .menu{
        left:0px
    }
}






