.fade {
  z-index: 3;
}
.modal-content {
  overflow: hidden;
}
.popup {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  height: 25em;
  width: 40em;
  background-color: white;
  z-index: 9999;
  .content {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    width: 60%;
    margin: 2em 2em;
    justify-content: center;
    #botaoPopup {
      margin: 1em;
    }
  }
  .image {
    background-color: grey;
    position: relative;
    width: 40%;
  }
}
