header#main-header {
    background-color: rgb(59, 58, 58);
    height: 72px;

}

header#main-header .header-content {
    
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    height: 72px;
    padding: 0 30px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header#main-header .header-content .link {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
    -webkit-font-smoothing:antialiased !important
}